*{
    background-color: black;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-left: 600px;
    margin-top: 50px
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    margin-top: 50px;
}

span{
    font-size: 20px;
    text-align: center;
    margin-top: 72px;
    margin-right: 94px;
}
